.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(75, 75, 75);
	padding-right: 20px;
	padding-left: 20px;
	color: white;
}

.rightHeader {
	display: flex;
	flex-direction: row;
}

.rightHeader input {
	margin: 15px;
}

.rightHeader p {
	cursor: pointer;
}
