.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(75, 75, 75);
	padding-right: 20px;
	padding-left: 20px;
	color: white;
}

.rightHeader {
	display: flex;
	flex-direction: row;
}

.rightHeader p {
	cursor: pointer;
}

.project {
	background-color: #f2f2f2;
	padding: 10px;
	margin: 0px;
	cursor: pointer;
	width: 100%;
}

.lineContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buildContainer {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}
